<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HRD_PRY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HRD_PRY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <HRD_PRY.Properties.Settings>
            <setting name="connStringDev" serializeAs="String">
                <value>Data Source=LAPTOP-9MQH7F0U;Initial Catalog=PryHRD_Database;User ID=wendra123;Password=wendra123;</value>
            </setting>
        </HRD_PRY.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfDataGrid.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2460.0.44" newVersion="18.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Data.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2460.0.44" newVersion="18.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.GridCommon.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2460.0.44" newVersion="18.2460.0.44" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfInput.WinForms" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2460.0.44" newVersion="18.2460.0.44" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <HRD_PRY.Properties.Settings>
      <setting name="connStringProd" serializeAs="String">
        <value>Data Source=192.168.0.16;Initial Catalog=PryHRD_Database;User ID=pry.user;Password=pry4dm1nus3r;</value>
      </setting>
    </HRD_PRY.Properties.Settings>
  </userSettings>
</configuration>